<!DOCTYPE html>
<html>
  <head>
    <title>OpenTableClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
<%= favicon_link_tag asset_path('favicon.ico') %>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amiko&display=swap" rel="stylesheet">
<meta property="og:title" content="FullPlate"/>
<meta property="og:image" content="<%= image_url "pagepic.png" %>"/>
<meta property="og:description" content="An Open Table Clone that allows users to manage restaurant reservations built using a Rails Backend and a React/Redux frontend"/>
<script type="text/javascript">
  window.logo = '<%= image_url "logo.png" %>'
  window.search_icon = '<%= image_url "search.png" %>'
  window.splash = '<%= image_url "food_wine.jpg" %>'
  window.bell = '<%= image_url "bell_edit.jpg" %>'
  window.rescal = '<%= image_url "res-cal.png" %>'
  window.resppl = '<%= image_url "res-ppl.png" %>'
  window.redpad = '<%= image_url "redpad.png" %>'
  window.loc = '<%= image_url "location.png" %>'
  window.resticon = '<%= image_url "resticon.png" %>'
  window.salmonplate = '<%= image_url "salmon_plate.jpg" %>'
</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
